*{
    color: white;
}

h1, h2, h3{
    text-align: center;
}

h3{
    font-size: 1.2em;
    margin-top: 6px;
}

.image{
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 160px;
}

img{
    width: 100%;
}

.profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.candidate-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px 128px;
    gap: 16px;
}

.candidate{
    display: flex;
    padding: 32px;
    flex-direction: column;
}

.list{
    cursor: pointer;
    transition: all .5s ease;
}

.list:hover{
    transform: scale(1.02);
}

.no_urut{
    text-align: center;
    padding: 8px;
    background-color: #ff9900;
    color: white;
    font-size: 1.2em;
    border-radius: 6px;
    margin-top: 6px;
}

.action{
    margin: 12px 128px;
    padding: 16px;
}

.buttons{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.visimisi{
    background-color: white;
    color: black;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.visimisi b{
    color: black;
}

.logout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.coosed{
    margin: 32px 128px;
    padding: 32px;
    gap: 12px;
}

.image_upload{
    border: 1px solid white;
    border-radius: 8px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.image_upload img{
    max-height: 256px;
    width: fit-content;
}

form{
    display: flex;
    flex-direction: column;
    margin: 16px 32px;
    gap: 12px;
}

mat-card h1, .generated_text{
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    border-radius: 8px;
    word-wrap: break-word; 
}